h2 {
    font-family: monospace;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
}