* {
  background-size: cover;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  background-color: rgb(91, 135, 230);
  margin-top: 1em;
  border-radius: 5px;
  padding: 9px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font: bolder;
}