.App {
  text-align: center;
  /* background-color: #282c34; */
  background-image: url(../public/background-image.jpg);
}


nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  margin-top: 1em;
  border-radius: 5px;
  padding: 9px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: lowercase;
  font-family: 'monospace';
  font: bolder;
}

.nav-link:hover {
  background-color: rgb(173, 57, 14);
}

span:hover {
  background-color: rgb(173, 57, 14);
  cursor: pointer;
}