.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-size: 30px;
}


.user-container {
    font-family: monospace;
    font-size: 25px;
    color: rgb(167, 153, 153);
    background-color: rgb(240, 236, 236);
    margin: 0 auto;
    max-width: 600px;
    padding: 0.4em;
    border-radius: 0.2em;
    margin-top: 3em;
}

.users-list {
    background-color: rgb(126, 126, 126);
    text-transform: uppercase;
    color: rgb(92, 89, 89);
    border-radius: 0.3rem;
}

.list-item {
    list-style-type: none;
    padding: 3px 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.users-btn {
    padding: 5px;
    border-radius: 5px;
    margin: 0 2px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.users-btn:hover {
    background-color: rgb(111, 198, 224);
}

.users {
    text-align: center;
}

.users-btn:disabled,
.btn-number.active {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}